html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	z-index: 1;
	background-position: center;
	background-attachment: fixed;
}

.github-corner {
	opacity: 0.4;
}
.github-corner:hover {
	opacity: 1;
}

#wrapper {
	height: 100%;
	display: grid;
}
#itemlist {
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	margin: auto;
	font-size: 2.5em;
	border-radius: 6px;
}
@media only screen and (min-width: 600px) {
	#itemlist {
		grid-template-columns: repeat(6, 1fr);
		font-size: 4em;
		background-color: rgba(0, 0, 0, .4);
	}
}
@media only screen and (min-width: 800px) {
	#itemlist {
		grid-template-columns: repeat(10, 1fr);
		font-size: 4em;
		background-color: rgba(0, 0, 0, .4);
	}
}

#itemlist>* {
	padding: 15px;
	margin: 0 auto;
}


.icon-title {
  color: #fff;
  font-size: 0.2em;
  padding: 2px 0 2px 0;
  display: block;
  width: 100%;
  text-align: center;
}

a {
	text-decoration:none;
}

/* link colors */
#itemlist a {
	color: #fff;
}
#itemlist a:hover {
	color: #c4c4c4;
}
